{% extends "base.html" %}
{% block title %}Authorization{% endblock %}
{% block page_content %}

    <div id="login-form">
        <h1>Authorization</h1>
        <fieldset>
            {% for error in form.errors %}
                {{ error.as_text }}
            {% endfor %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Login">
            </form>
        </fieldset>

    </div>
{% endblock %}