{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block page_content %}
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{ entry.title }}</h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="/">{{ entry.author.username }}</a>
                </p>
            <p>Categories:
                {% for category in entry.categories.all %}
                    {{ category.name }}
                {% endfor %}
        </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ entry.date_posted }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-thumbnail" src="{{ entry.image.url }}" alt="">

                <hr>

                <!-- Post Content -->

                    <p>{{ entry.content }}

                </p>
                <hr>
            <i class="glyphicon glyphicon-thumbs-up" id="l">{{ entry.post_opinion_data.likes|default_if_none:0 }}</i>
                <i class="glyphicon glyphicon-thumbs-down" id="d">{{ entry.post_opinion_data.dislikes|default_if_none:0 }}</i>
                <p class="lead">
                    Comments
                </p>
                <hr>
                {% for comment in entry.post_comments.all %}
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{ comment.author.username }}
                                <small>{{ comment.date_posted }}</small>
                            </h4>
                            {{ comment.content }}
                        </div>
                    </div>
                {% endfor %}
                <hr>

                <div class="well">
                    {% if user.is_authenticated and not comment_exists %}
                        <h4>Leave a Comment:</h4>
                        <form role="form" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    {% elif not user.is_authenticated %}
                        You must be logged in to post a comment.
                    {% elif comment_exists %}
                        You have already commented this post.
                    {% endif %}
                </div>
<script>
    $(document).ready(function() {
         $("i.glyphicon-thumbs-up, i.glyphicon-thumbs-down").click(function () {
             var el = $(this)[0];
             console.log(el);
             $.post("{% url "submit_opinion" %}",
                {
                    post: {{ entry.id }},
                    opinion_type: el.id,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                })
              .done(function(data) {
                  console.log(data);
                  if(data["ok"]) {
                    $(el).text(parseInt($(el).text()) + 1);
                  } else {
                      if (data['errors']) {
                          alert(data['errors'].join(", "))
                      } else {
                          alert("Unknown error");
                      }
                  }
              })
             .fail(function() {
                alert("Error occured");
            })


         });
  });
    </script>
{% endblock %}