{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block page_content %}


            <!-- Blog Entries Column -->
            <div class="col-md-8">
    {% for entry in entries %}
        <h2>
            <a href="{% url 'post_page' entry.id %}">{{ entry.title }}</a>
        </h2>
        <p class="lead">
            <p>by <a href="/">{{ entry.author.username }}</a></p>
            <p>Categories:
                {% for category in entry.categories.all %}
                    {{ category.name }}
                {% endfor %}
        </p>
        <p><span class="glyphicon glyphicon-time"></span>
            Posted on {{ entry.date_posted }}</p>
        <p><img class="img-thumbnail" src="{{ entry.image.url }}" alt=""></p>

        <p>{{ entry.content|truncatechars:100 }}</p>
        <p><i class="glyphicon glyphicon-thumbs-up">{{ entry.post_opinion_data.likes|default_if_none:0 }}</i>
        <i class="glyphicon glyphicon-thumbs-down">{{ entry.post_opinion_data.dislikes|default_if_none:0 }}</i>
        Comments: {{ entry.post_comments.count }}
            </p>
        <a class="btn btn-primary" href="{% url 'post_page' entry.id %}">
            Read More <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
                <hr>
    {% endfor %}
            </div>
        {% if is_paginated %}
            <ul class="pagination pagination-centered pagination-large">
        <li><a href="?page=1">&laquo;</a></li>
        {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}">
                    {{ page_obj.previous_page_number }}</a></li>
        {% endif %}

        <li class="active">
            <a href="#">{{ page_obj.number }}</a>
        </li>
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">
                {{ page_obj.next_page_number }}</a></li>
        {% endif %}
        <li><a href="?page={{ page_obj.paginator.num_pages }}">&raquo;
        </a></li>
    </ul>
                {% endif %}
{% endblock %}
